VITE_API_URL="http://localhost:4000/api/"
TOKEN=""
CHANNEL_ID=""
ADMIN_USER_ID=""
BACKEND_URL=http://backend:4000/api
VERIFY_SSL=False
ZONA_HORARIA=America/Bogota
PRINTER_URL=http://printer:8000/imprimir